# Supported machines
#MACHINE ?= "ccimx8x-sbc-pro"

# More info meta-resin/README.md
#TARGET_REPOSITORY ?= ""
#TARGET_TAG ?= ""

BALENA_STORAGE_ccimx8x_sbc_pro = "overlay2"

# Current (01/2021) module variants
# 0x01: 1GB, 32bit
# 0x02: 2GB, 32bit
# 0x03: 2GB, 32bit
# 0x04: 1GB, 16bit
# 0x05: 1GB, 16bit
# 0x06: 512MB, 16bit

# This can be B0 or C0 depending on the SOC type
SOC_REVISION_ccimx8x = "B0"
# For imx8dx SOCs use 16bit
SOC_BUS_WIDTH_ccimx8x = "32bit"
# Supported memory values are 512 MB / 1GB / 2GB
SOC_MEMORY_ccimx8x = "2GB"
SOM_MEMORY_VARIANT_ccimx8x = "${SOC_MEMORY}_${SOC_BUS_WIDTH}"

# Set this to 1 if development image is desired
#DEVELOPMENT_IMAGE = "1"

# Set this to make build system generate resinhup bundles
#RESINHUP ?= "yes"

# Set this to change the supervisor tag used
#SUPERVISOR_TAG ?= "master"

# Compress final raw image
#BALENA_RAW_IMG_COMPRESSION ?= "xz"

# Parallelism Options
BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

# Resin specific distros
DISTRO ?= "resin-systemd"

# Custom downloads directory
#DL_DIR ?= "${TOPDIR}/downloads"

# Custom sstate directory
#SSTATE_DIR ?= "${TOPDIR}/sstate-cache"

# Inheriting this class has shown to speed up builds due to significantly lower
# amounts of data stored in the data cache as well as on disk.
# http://www.yoctoproject.org/docs/latest/mega-manual/mega-manual.html#ref-classes-rm-work
#INHERIT += "rm_work"

# Remove the old image before the new one is generated to save disk space when RM_OLD_IMAGE is set to 1, this is an easy way to keep the DEPLOY_DIR_IMAGE clean.
RM_OLD_IMAGE = "1"

# Additional image features
USER_CLASSES ?= "buildstats image-mklibs image-prelink"

# By default disable interactive patch resolution (tasks will just fail instead):
PATCHRESOLVE = "noop"

# Disk Space Monitoring during the build
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K"

CONF_VERSION = "1"

HOSTTOOLS += "docker iptables newuidmap newgidmap ip ps"
